a:hover {
	text-decoration: underline;
}
a:link, a:visited {
    text-decoration: none;
    /*color: #333;*/
}
header {
	position: relative;
}
body {
	background: url(/static/client/images/body-bg.png) repeat;
	background-attachment: fixed;
	color: #333;
	font-size: 12px/1.6em Helvetica, Arial, sans-serif;
	width: 80%;
	min-width: 400px;
	max-width:1500px;
	margin: 0 auto ;
	/*box-shadow: 2px  -2px #666;*/
	/*height:100%;*/
}
nav {
	float: right;
    width: 100%;
    margin: 30px 30px 0 0;
    text-align: right;
}
nav a {
	margin: 0 5px;
	padding: 0 8px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
article {
	width: 100%;
    /*margin: 20px auto;*/
    overflow: hidden;
}
h1.t_nav {
    border-bottom: #F1F1F1 1px solid;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    height: 40px;
}
h1.t_nav span  {
	float: right;
    color: #999;
    background: url(/static/client/images/5849.png) no-repeat left center;
    padding-left: 20px;
}
h1.t_nav span a{
	margin: 0 5px;
}
a.n1, a.n2 {
    width: 100px;
    display: block;
    text-align: center;
    color: #fff;
    float: left;
}
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.index_about {
	float: left;
    width: 68%;
    overflow: hidden;
    border:  url(/static/client/images/r_line.jpg);
    background:#fff;
    /*margin: 10px 0;*/
    padding:0 0 0 15px;
    border-radius:8px;
}
.c_titile {
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
    color: #333;
}
.box_c {
    border: #ccc 1px dashed;
    text-align: center;
    padding: 5px 0;
    margin-right: 30px;
    color: #999;
}
.box_c span {
    margin: 0 10px;
}
.infos {
    overflow: hidden;
    margin: 20px 30px 20px 0;
    line-height: 28px;
    font-size: 14px;
    /*text-indent: 2em;*/
    color: #666;
}
.keybq {
    background: url(/static/client/images/6264.png) no-repeat 10px center #F8F8F8;
    line-height: 30px;
    height: 30px;
    padding-left: 40px;
    border: 1px solid #F0F0F0;
    margin-right: 20px;
}
.keybq p span {
    color: #099;
}
.nextinfo {
	line-height: 24px;
	font: 12px "宋体", Arial, Helvetica, sans-serif;
	color: #756F71;
    margin: 10px auto;
}
.otherlink h2 {
    border-bottom: #099 2px solid;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 20px;
    background: url(/static/client/images/5794.png) 10px center no-repeat;
    padding-left: 40px;
}
.otherlink ul {
    margin: 10px 0;
    list-style: none;
    display: block;
}
.otherlink li {
    line-height: 24px;
    height: 24px;
    display: block;
    width: 290px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
}
.say {
    width: 90%;
    height:212px;
    background-image: url(/static/client/images/timeline.png);
    position: relative;
    margin-left: 8px;
}
.sayTime {
	position: absolute;
	top:23px;
	right:10px;
	font-size: 8px;
	color:#564d4d;
}
.sayContent {
	position: absolute;
	top:80px;
	left:40px;
	font: 20px;
	line-height: 1.2;
}
.logo {
	position: absolute;
	left: 50px;
	top:20px;
}
aside {
	width:30%;
	float: right;
	background-color: #ecf3ec;
	min-height: 800px;
}
.search {
	margin:20px;
}
.search-but {
	font-size:14px;
	background:#8bbf5d;
	border-radius: 3px;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	color: #fff;
	margin-bottom:10px;
}
.search-but:hover{
	background: #62cc04;
}
h3 {
	font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #3b3b3b;
    padding-bottom: 12px;
    margin-bottom: 8px;
    display: block;
    margin-left:10px
}
ul {
	list-style: none;
}
.classification, .tag {
	clear: both;
	width:90%;
	margin: 0 auto;

}
.cat-item {
    width: 35%;
    float: left;
    margin: 0 30px 5px 0;
    padding-bottom: 5px;
    text-align: right;
    border-bottom: 1px solid #d4dfe3;
    font-size:12px;
}
.cat-item a {
	color: rgb(88, 118, 134);
	float: left;
	line-height: 24px;
	text-align: right;
}

.tag a:hover,.cat-item a:hover {
	color: #e8b4b4;
	cursor: pointer;
}
.tag a {
	font-size: 12px;
	line-height: 24px;
    background: #FFF;
	padding: 0 8px;
	margin: 0 10px 10px 0;
	display: inline-block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #587686;
    border: 0;
    border-radius: 4px;
}
