<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="static/css/aa.css">
</head>
<body>
<div class="content" style="margin-top:100px;height:200px;">
	<div id="div4bm" style="float:left;">
	<!--input[button] 触发 file click事件-->
		<input type="button" value="选择文件" id="mybutton" class="mybtn"  onclick="Id('file').click();" />
		<!--file 隐藏起来  触发onchange事件-->
		<input type="file" name="file" accept="image/png,image/jpg,image/jpeg" 	id="file" onchange="changeToop();" style="display:none;" />
	</div>  
	<!--图片展示区域-->
	<div style="float:left;">
		<!--设置默认图片-->
		<img id="myimg" src="http://sandbox.runjs.cn/uploads/rs/72/huvtowwn/zanwu.png"/>
	</div>
	<script type="text/javascript" src="static/js/jquery1.8.3.js"></script>
	<script type="text/javascript" src="static/js/aa.js"></script>
</body>
</html>