<!DOCTYPE html>
<html>
<head>
	<title>测试上传图片并即时显示</title>
	<style type="text/css">
		.ImgFile { display: none }
		.ImgName { width: 200px; }
		.imgArea { width:100%;height: 100%; }
	</style>
</head>
<body>
<div class="inputButt">
	<input type="file" class="ImgFile" id="ImgFile" accept="image/*">
	<label>图片</label>
	<input type="text" class="ImgName">
	<a href="javascript:void(0)" class="show">上传图片</a>
	<div style="width: 500px;height:400px">
		<img src="" alt="图片区域" class="imgArea" />
	</div>
	
	
</div>
<script type="text/javascript" src="static/js/jquery1.8.3.js"></script>
<script type="text/javascript" src="static/js/upimg.js"></script>
<script type="text/javascript">
	$(function(){
		$(".show").click(function(){
			$(".ImgFile").click()
		})
		$(".ImgFile").change(function(){
			$(".ImgName").val($(this).val());
			$(".imgArea").attr("src",getFileUrl("ImgFile"));
		})

	})
	//获取input[file]图片的url Important
	function getFileUrl(fileId) { 
		var url; 
		var file = document.getElementById(fileId);
		var agent = navigator.userAgent;
		if (agent.indexOf("MSIE")>=1) {
		url = file.value; 
		} else if(agent.indexOf("Firefox")>0) { 
		url = window.URL.createObjectURL(file.files.item(0)); 
		} else if(agent.indexOf("Chrome")>0) {
		url = window.URL.createObjectURL(file.files.item(0)); 
		} 
		return url; 
	} 
</script>
</body>
</html>