<!-- 头部导航-->
<div class="navbar">
    <div class="navbar-inner">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> <span id="adminName"></span>
                        <li><a tabindex="-1" href="/client/">返回首页</a></li>
                        <li><a tabindex="-1" href="/cms/logout">安全退出</a></li>
                    </a>
                </li>
            </ul>
            <a class="brand" href="/cms" style="color:#FFFFFF;">后台管理</a>
    </div>
</div>
<!--头部导航结束-->


<!-- 左侧导航列表-->
<div class="sidebar-nav">
    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-user"></i>基础数据</a>
    <ul id="dashboard-menu" class="nav nav-list collapse">
        <li><a href="/cms/">个人资料</a></li>
        <li ><a href="/Seal/citylist">留言管理</a></li>
    </ul>

    <a href="#basedData-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>信息管理</a>
    <ul id="basedData-menu" class="nav nav-list collapse">
        <li><a href="/cms/update">发布信息</a></li>
        <li ><a href="/cms/blogsList">信息列表</a></li>
        <li ><a href="/cms/classification">分类管理</a></li>
        <li ><a href="/cms/blogs">标签管理</a></li>
    </ul>

    <a href="#admin-menu" class="nav-header" data-toggle="collapse"><i class="icon-wrench"></i>系统管理</a>
    <ul id="admin-menu" class="nav nav-list collapse">
        <li ><a href="/cms/column">栏目列表</a></li>
        <li ><a href="/cms/announcement">公告管理</a></li>
        <li ><a href="/cms/pictureShow">各级图片管理</a></li>
        <li ><a href="/cms/manager">友情链接</a></li>
        <li ><a href="/cms/managerclass">备案信息</a></li>
    </ul>
    <a href="#logo-menu" class="nav-header" data-toggle="collapse"><i class="icon-truck"></i>安全管理</a>
    <ul id="logo-menu" class="nav nav-list collapse">
        <li ><a href="/cms/log" id="11">日志管理</a></li>
    </ul>
</div>