header {
	position: relative;
}
body {
	background: #FFF;
	color: #333;
	font-size: 12px/1.6em Helvetica, Arial, sans-serif;
	width: 80%;
	min-width: 400px;
	margin: 0 auto ;
	box-shadow: 2px  -2px #666;
	/*height:100%;*/
}
nav {
	float: right;
    width: 100%;
    margin: 30px 0 0 0;
    text-align: right;
}
nav a {
	margin: 0 5px;
	padding: 0 8px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
article {
	width: 100%;
    /*margin: 20px auto;*/
    overflow: hidden;
}
h1.t_nav {
    border-bottom: #F1F1F1 1px solid;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    height: 40px;
}
h1.t_nav span  {
	float: right;
    color: #999;
    background: url(/static/images/5849.png) no-repeat left center;
    padding-left: 20px;
}
h1.t_nav span a{
	margin: 0 5px;
}
a.n1, a.n2 {
    width: 100px;
    display: block;
    text-align: center;
    color: #fff;
    float: left;
}
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.index_about {
	float: left;
    width: 70%;
    overflow: hidden;
    background: url(/static/images/r_line.jpg) repeat-y right;
    margin: 10px 0;
}
.say {
    width: 90%;
    height:212px;
    background-image: url(/static/images/timeline.png);
    position: relative;
    margin-left: 8px;
}
.sayTime {
	position: absolute;
	top:23px;
	right:10px;
	font-size: 8px;
	color:#564d4d;
}
.sayContent {
	position: absolute;
	top:80px;
	left:40px;
	font: 20px;
	line-height: 1.2;
}
.logo {
	position: absolute;
	left: 50px;
	top:20px;
}
aside {
	width:30%;
	float: right;
}
.search {
	margin:20px;
}
.search-but {
	font-size:14px;
	background:#8bbf5d;
	border-radius: 3px;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	color: #fff;
	margin-bottom:10px;
}
.search-but:hover{
	background: #62cc04;
}
