<aside>
	<div class="search">
		<input type="text" name="searchwd" placeholder="请输入关键字">
		<a href="" class="search-but" style="color:#fff">搜索</a>
	</div>
	<div class="classification">
		<h3>分类目录</h3>
		<ul>
			<li class="cat-item"><a href="">未分类</a>（5）</li>
			<li class="cat-item"><a href="">前端</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
			<li class="cat-item"><a href="">python</a>（5）</li>
		</ul>
	</div>
	<div class="tag">
		<h3>标签云</h3>
		<a href="" class="tag-item">Jquery</a>
		<a href="" class="tag-item">python</a>
		<a href="" class="tag-item">爬虫</a>
		<a href="" class="tag-item">心情</a>
		<a href="" class="tag-item">Java</a>
		<a href="" class="tag-item">HTML5</a>
		<a href="" class="tag-item">CSS3</a>
		<a href="" class="tag-item">Nginx</a>
	</div>
	<div class="newArticle">
	</div>
</aside>
