<!-- 头部模板1，适用主页等一级界面 -->
<div class="header">
    <div class="say">
            <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
            <p>
                &nbsp;&nbsp;最好的生活是用心甘情愿的态度，过随遇而安的生活。
            </p>
    </div>
    <div class="nav">
        <ul>
            <li> <a href="/client">窝</a></li>
            <li><a href="/client/share">常篇哒论</a></li>
            <li><a href="/client/say">随走随停</a></li>
            <li><a href="#">他山之石</a></li>
            <li><a href="#">我听你说</a></li>
        </ul>
    </div>
</div>